server:
 certFile: {{ rdpgw_cert_file }}
 keyFile: {{ rdpgw_key_file }}
 gatewayAddress: {{ rdpgw_domain }}
 port: 443
 hosts:
{%- for rdpgw_host in rdpgw_hosts %}    
    - {{ rdpgw_host }}
{%- endfor %}  
 roundRobin: false
 sessionKey: {{ rdpgw_session_key }}
 sessionEncryptionKey: {{ rdpgw_session_encryption_key }}
openId:
 providerUrl: {{ rdpgw_openid_provider_url }}
 clientId: {{ rdpgw_openid_client_id }}
 clientSecret: {{ rdpgw_openid_client_secret }}
client:
 usernameTemplate: {{ '"{{ username }}"' }}
 networkAutoDetect: 0
 bandwidthAutoDetect: 1
 ConnectionType: 6
security:
  PAATokenSigningKey: {{ rdpgw_ppa_token_key }}
  UserTokenEncryptionKey: {{ rdpgw_ppa_token_key }}